<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Todo List</h1>
      <div class="mb-3 ">
      <input type="text" class="form-control" id="findTask" [(ngModel)] = "findTask" placeholder="Filter your TO-Dos">
      <ul class="list-group mt-2" *ngIf="findTask.length > 0 && suggestion().length>0" >
       
          <li class="list-group-item"  *ngFor="let s of suggestion()" (click)="selectTask(s)">
           
            {{ s.task }} ({{ s.duration }} min)
                       
          </li>     
      </ul>
      </div>
      @for(t of allTodo;track $index){
        <div class ="row"  >
          <p class="col-1">{{$index+1}} </p>
         
          <p class="col-9" [class.completed]="t.completed == true">@if(!t.completed){
            <button type="button" class="btn btn-outline-primary" (click)="isCompleted(t)">Completed</button>
        } {{t.task}} ( {{t.duration |number}}min ) @if(t.priority !== "NORMAL"){
          {{t.priority ==="HIGH"? "↑ High Priority" : "↓ Low Priority "}}

        } </p>
        <button type=" button" class="col-1 btn btn-link" (click)="removeTask(t)">x</button>
       
      </div>
      
      }
      <!-- @for(t of allTodo;track $index){
        @if(t.completed === true){
          <div class="alert alert-success" role="alert">
            Congratulation on completing all the task!
          </div>
        }    
      } -->
     @if(allTaskCompleted()){
      <div class="alert alert-success" role="alert">
       Congratulation on completing all the task!
      </div>
     }
      <div class="container">
        <div class="mb-3 ">
          <label for="newTask" class="form-label">Enter a New-Task:</label>
          <input type="text" class="form-control" id="newTask"  [(ngModel)]="newTodo.task" placeholder="Enter here">
        </div>
        <div class="mb-3">
          <label for="newDuration" class="form-label">How many hours do you estimate?</label>
          <input type="number" class="form-control" id="newDuration"  [(ngModel)]="newTodo.duration">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="priority" id="highPriority"[(ngModel)]="newTodo.priority" value="HIGH">
          <label class="form-check-label" for="highPriority">
           HIGH
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="priority" id="normalPriority" [(ngModel)]="newTodo.priority" value="NORMAL" checked>
          <label class="form-check-label" for="normalPriority">
            NORMAL
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="priority" id="lowPriority" [(ngModel)]="newTodo.priority" value="LOW">
          <label class="form-check-label" for="lowPriority">
            LOW
          </label>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-success" type="button" (click)="addTask()">Add Task</button>
               </div>
        
      </div>
    </div>
  </div>
      </div>
      